@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'work sans', sans-serif;
}



/* shared style */
.primary-width{
    padding: 0 10%;
}
.text-primary-color{
    color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);  
}
.primary-btn{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    padding: 9px 20px 9px 20px;

}
.secondary-btn{
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    padding: 9px 23px 9px 23px; 
}

/* nav  */

header{
    box-shadow: 0 3px 6px -6px black;
}

.nav{
    width: 100%;
    padding: 30px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo > img {
    width: 60px;
    height: 30px;

}

.nav-logo > p {
    font-weight: bolder;
    font-size: 25px;
}

.logo-g{
    color: #F948B2;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.nav-menu a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
.nav-menu{
    display: flex;
    list-style: none;
    gap: 10px;
}

.nav-menu  {
    padding: 10px 15px;
    border-radius: 5px;
}

.follow-us{
    display: flex;
    align-items: center;
    background-color: #3c354f1b;  
    border-radius: 5px;  
    padding: 5px 20px;
}
.follow-us > img{
    width: 60px;
    height: 30px;
}
/* banner section */


/* background-image: url("./images/Group\ 14.png");
color: #0B0223; */

.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}

.banner-title{
    font-size: 20px;
    font-weight: 600;
}

.banner-goat{
    font-size: 35px;
    font-weight: 800;
    font-weight: bolder;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-secondary{
    color: #534C64;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

.banner-description{
    flex: 1;
    /* background-image: url("./images/Group\ 14.png"); */
    height: 100%;
}
.banner-description >p{
    margin: 10px 0;
}
.banner-description >button{

    margin: 20px 10px 10px 2px;
}

.banner-img{
    flex: 1;
}

.banner-img > img{
    width: 100%;
}

.primary-description {
    color: #534C64;
    text-align: right;
    font-size: 12px;
    margin: 20px 20px;
    line-height: 2;
}


/* main section */
.main-container{
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0 10%;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-bottom: 50px;
}
.main-img{
    flex : 2;
}

.main-img > img{
    width: 100%;
}

.main-desc{
    flex : 1;
    text-align: right;
}

.main-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}
.main-desc >button{
    margin: 20px 0;
}

.main-desc-bottom{
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
}

.unleash-gammer{
    font-weight: 700;
    color: #534C64;
    font-size: 20px;
}

/* Online games card section */

.main-title-span{
    color: black;
    font-size: 2rem;
}
.game-container{
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.card-games{
    padding:5px;
}


.online-games-card{
    display: flex;
    gap: 10px;
}

.card-cards{
    background-color: #3C354F;
}


.card-img > img{
    width: 100%;
}

.card-img >img:hover{
    outline: 2px solid rgb(187, 14, 121);
    border-radius: 22px;
}
.card-description{
    margin-top: 20px;
    color: #534C64;
    text-align: left;
    font-size: 12px;   
}

.online-games{
    text-align: center;
}

/* button option */

.main-button{
    padding: 0 10%;
    margin: 70px 70px;
}

.button-option{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.button-option-primary{
    /* display: flex;
    gap: 10px; */
    height: 40px;
}
.button-option, .button-option-primary, .button-option-img{
    display: flex;
    gap: 20px;

}
.button-option-primary:hover{
    outline: 2px solid rgb(187, 14, 121);
    border-radius: 22px;
}
.button-option-primary > p{
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
}



/* play games banner section */

.play-games{
    display: flex;
    padding: 0 10%;
}

.play-games-title{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.main-title{
    text-align: right;
}

.main-title, .main-title-span{
    color: #0b0b0b;
    font-size: 2rem;
    text-align: right;
}

.play-games-img{
    flex:2;
}

.play-games-img1{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 80px;
    position: relative;
}

.play-games-img1 > img{
    width: 80%;
}

.play-games-img2{
    position: absolute;
    margin-top: -200px;
    margin-left: 50px;
}

.play-games-img2 > img{
    width: 50%;
}

/* footer section */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 91, 124);
    color: #FFF;
    gap: 40px;
    padding: 50px 0;
}
.footer-top-list{
    display: flex;
    gap:50px;
    font-size: small;
    font-weight: bold;
}
.footer-top-list a{
    
    text-decoration: none;
    color: #FFF;
}
.footer-list-bottom{
    display: flex;
    gap:20px;
    font-size: smaller;
    font-weight: bold;
}
.footer-list-bottom a{
    
    text-decoration: none;
    color: gray;
}
.copyright-text{
    margin-top: -20px;
    color: gray;
    font-size: 12px;
}



/* responsive */
@media screen and (max-width:576px) {
    .primary-width{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .nav-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;

    }
    .nav-menu > ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-menu > ul > li{
        margin: 0;
    }

    .main-container{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-container{
        flex-direction: column;
    }
    .game-container{
        flex-direction: column;
    }
    .online-games-card{
        flex-direction: column;
    }
    .play-games{
        flex-direction: column;
    }
    .main-button{
        flex-direction: column;
        flex: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
